{
  "service_port": 8080,
  "secret_key": "12345678",
  "use_log": true,
  "use_monitor": true,
  "use_cronjob": true,

  "database": "mysql",
  "database_host": "localhost:3306",
  "database_username": "root",
  "database_password": "root",
  "database_name": "example_db",
  "use_migration": true,

  "use_redis": true,
  "redis_host": "localhost:6379",
  "redis_password": "",
  "redis_database": 0,
  "redis_prefix" : "goFarm"
}