{
  "service_port": 8080,
  "secret_key": "12345678",
  "use_log": true,

  "database": "mysql",
  "database_host": "localhost:3306",
  "database_username": "root",
  "database_password": "root",
  "database_name": "example_db",
  "use_migration": true
}